{:deps
 {io.github.mentat-collective/emmy-viewers
  {:mvn/version "0.3.2"
   :exclusions [org.mentat/emmy
                org.mentat/clerk-utils]}

  io.github.mentat-collective/emmy {:mvn/version "0.31.0"
                                    :exclusions [org.babashka/sci
                                                 org.mentat/clerk-utils]}
  org.mentat/clerk-utils {:mvn/version "0.6.0"
                          :exclusions  [thheller/shadow-cljs]}}}
