{:deps
 {io.github.mentat-collective/emmy {:mvn/version "0.31.0"
                                    :exclusions [org.babashka/sci
                                                 org.mentat/clerk-utils]}
  org.mentat/clerk-utils {:mvn/version "0.6.0"
                          :exclusions [thheller/shadow-cljs]}}}
